<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Login Contact</h2>
        <form (ngSubmit)="loginContact()">
          
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="authenticationRequest.username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="authenticationRequest.password">
          </div>
          
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap CSS from CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
