<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Create Contact</h2>
        <form (ngSubmit)="createContact()">
          
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="contact.contactName">
          </div>
          
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="contact.contactEmail">
          </div>
          
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="contact.contactNum">
          </div>
          
          <div class="form-group">
            <label for="activesw">Active State</label>
            <input type="text" class="form-control" id="activesw" name="activesw" [(ngModel)]="contact.activesw">
          </div>
          
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="contact.password">
          </div>
          
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap CSS from CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
