<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="mb-4 text-center">Update Contact</h2>
        <form (ngSubmit)="updateContact()">
  
          <div class="form-group">
            <label for="id">Id</label>
            <input type="text" 
                   class="form-control form-control-lg" 
                   id="id"
                   name="id" 
                   [(ngModel)]="contact.contactId"
                   readonly>
          </div>
  
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" 
                   class="form-control" 
                   id="name"
                   name="name" 
                   [(ngModel)]="contact.contactName">
          </div>
          
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
                   class="form-control form-control-sm" 
                   id="email"
                   name="email" 
                   [(ngModel)]="contact.contactEmail">
          </div>
          
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" 
                   class="form-control" 
                   id="phone"
                   name="phone" 
                   [(ngModel)]="contact.contactNum">
          </div>
          
          <button type="submit" class="btn btn-primary btn-block">Update</button>

  
        </form>
      </div>
    </div>
  </div>
  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
